body {
    margin: 0;
    padding: 120px 0 0 0;
}

nav {
    background-color: #CE3F48;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.right a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.right a:hover {
    text-decoration: underline;
}
